streamlit
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
langchain-core
langchain-classic
chromadb==0.4.24
sentence-transformers
pypdf
python-dotenv
numpy==1.26.4
protobuf==4.25.3